@{
    ViewBag.Title = "Cảm ơn bạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-center" style="padding:120px 0;">
    <h2>@ViewBag.Message</h2>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-4">HomePage</a>
</div>


